{% load staticfiles %}

<html xmlns:margin="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext"
        rel="stylesheet" type="text/css">

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
        <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    </head>

    <body style="padding-top:70px">
        <!--
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="{% url 'post_draft_list' %}" class="top-menu">
                    <span class="glyphicon glyphicon-edit"></span></a>
                <p class="top-menu">Merhaba {{ user.username }} 
                <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>

            {%else%}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
            <h1><a href="/">Cool Blog</a></h1>
        </div>
        -->

        <nav class="navbar navbar-inverse page-nav navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Cool Blog</a>
            </div>
            <ul class="nav navbar-nav">
              <li class=><a href="/">Explore</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'post_cat' pk='Games' %}">Games</a></li>
                  <li><a href="{% url 'post_cat' pk='Movies' %}">Movies</a></li>
                </ul>
              </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'post_draft_list' %}"><span class="glyphicon glyphicon-edit"></span> Drafts</a></li>
                    <li><a href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"></span> Add</a></li>
                    <li><a href="{% url 'user_profile' profile_id=user.pk %}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                {% else %}
                    <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

                {% endif %}
            </ul>
          </div>
        </nav>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script>
            $('.dropdown-toggle').dropdown();
        </script>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>


                <div class="col-md-4">
                    <nav role="navigation">
                        <table style="margin-left: 50px; ">

                            <tr>
                                {% if last_ten_posts %}
                                <td><h1><a>Latest</a></h1></td>
                                {% endif %}
                            </tr>

                            {% for post in last_ten_posts %}
                                <tr><td><a href="{% url 'post_detail' pk=post.pk %}">{{post.baslik}}</a></td></tr>
                            {% endfor %}

                        </table>
                    </nav>
                </div>

            </div>
        </div>

    </body>
</html>
