{% extends 'blog/base.html' %}

{% block content %}

{% for post in posts %}

        <div class="post">
            <div class="date">
                {{ post.yayinlanma_tarihi }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{post.baslik}}</a></h1>
            <p>{{ post.yazi|linebreaks }}</p>
            {{post.likes.count}} <a href="{% url 'post_like' article_id=post.pk %}">Like</a>
            <a href="{% url 'post_detail' pk=post.pk %}">Yorumlar: {{post.onaylanan_yorumlar.count}}</a>
            <a href="{% url 'user_profile' profile_id=post.yazar.pk %}">{{ post.yazar }}</a>
        </div>
{% endfor %}
{% endblock %}
