<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<body>

<div style="margin:30px;">
    <h1><u>Report</u></h1>
    <h2>Created by Berkay Çit</h2>
</div>

<table cellpadding="0" cellspacing="0" border="1px">
    <thead>
        <th style="margin:30px; color:red; padding:10px;"><b>Core Parts</u></th>
        <th colspan="2" style="margin:30px; color:red; padding:10px;"><b>Additional Parts</u></th>
        <th colspan="2" style="margin:30px; color:red; padding:10px;"><b>Cons</u></th>
    </thead>

<tbody>

<tr>
    <td style="padding:24px;" rowspan="2">

    <ul>
        <li>Adapt a template <span style="color:green;">COMPLETED</span>
            <ol>
                <li>Extending BASE</li>
                <li>Including FORM</li>
            </ol>
        </li>

        <li>Define your model(s) <span style="color:green;">COMPLETED</span>
            <ol>
                <li>POST</li>
                <li>COMMENT</li>
                <li>LIKE</li>
                <li>PROFILE</li>
            </ol>
        </li>
        <li>Dynamic pages <span style="color:green;">COMPLETED</span>
           <ol>
                <li>Categories
                    <ul>
                        <li>Games</li>
                        <li>Movies</li>
                    </ul>
                </li>
                <li>Profile</li>
                <li>Explore</li>
                <li>Drafts</li>
            </ol>

        </li>
        <li>Using an HTML table <span style="color:green;">COMPLETED</span>
            <ol>
                <li>User Profile Table</li>
                    <ul>
                        <li>Ordered by Ratings</li>
                        <li>Relation with Likes</li>
                    </ul>
            </ol>
        </li>
        <li>Forms <span style="color:green;">COMPLETED</span>
            <ol>
                <li>User SignIn</li>
                <li>User SignUp</li>
                <li>Profile Edit</li>
                <li>Follow Form</li>
                <li>Comments</li>
                <li>Write Story</li>
            </ol>
        </li>


    </ul>

</td>

    <td style="padding:24px;">
        Customization of template:
        <ul>
            <li>Bootstrap used</li>
            <li>Basic HTML+CSS used</li>
            <li>No prepared theme used</li>
        </ul>

        <h4><a href="https://github.com/berkaycit/ProjectWebDjango/blob/master/blogsite/blog/static/css/blog.css">STATIC->CSS</a><h4>

    </td>


    <td style="padding:24px;">
        More models:
        <ul>
            <li>Follow</li>
            <li>Like</li>
            <li>Comments</li>
        </ul>
    </td>


    <td style="padding:24px; color:red;">
        <ul>
            <li>Still have some buggy parts</li>
            <li>Everything thought could not be done</li>
            <li>No Advenced Django Feature used</li>
            <li>Ajax and js not used</li>
        </ul>
    </td>



</tr>

<tr>
    <td colspan="3">

        GitHub Linki: <a target="_blank" href="https://github.com/berkaycit/ProjectWebDjango">LINK</a>
    </td>

</tr>

</tbody>

</table>

</body>
</html>